{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-4">{{ template_data.title }}</h1>
    <div class="row">
        {% for item in template_data.watchlist %}
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="{{ item.movie.image.url }}" class="card-img" alt="{{ item.movie.name }}">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.movie.name }}</h5>
                            <p class="card-text">{{ item.movie.description }}</p>
                            <form action="{% url 'watchlist.update_rating' item.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="rating">Your Rating:</label>
                                    <select name="rating" id="rating" class="form-control" onchange="this.form.submit()">
                                        {% for i in '12345'|make_list %}
                                        <option value="{{ i }}" {% if item.rating == i|add:0 %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <hr>
                            <h6>Reviews:</h6>
                            <ul class="list-group">
                                {% for review in item.movie.review_set.all %}
                                <li class="list-group-item">
                                    <strong>{{ review.user.username }}</strong>: {{ review.text }}
                                </li>
                                {% empty %}
                                <li class="list-group-item">No reviews yet.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <p>Your watchlist is empty.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}